body{
	background-image: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-size: cover;
	display: flex;
	flex-direction: row;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}   

.container{
	width: 400px;
	height: 400px;
	margin-top: 100px;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	background-color: #483d8b;
	border-radius: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.beatBox{
	display: inline-flex;
	align-items: center;
}
button{
	border-radius: 10px;
	margin: 10px;
	width: 70px;
	height: 70px;
	background-color: transparent;
}	

#one, #three, #six, #eight, #nine, #eleven, #fourteen, #sixteen{
	border: 2px solid #ff0099;
}
#two, #four, #five, #seven, #ten, #twelve, #thirteen, #fifteen{
	border: 2px solid #00ffff;
}
